<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->

<%- include('partials/header.ejs') %>




<%- include('partials/footer.ejs') %>

    <main>
        <div class="album py-5 bg-body-tertiary" id="products">
          <div class="container">
            <form action="/filtered" method="get">
              <input type="number" id="min" name="min" placeholder="Min">
              <input type="number" id="max" name="max" placeholder="Max">
              <input type="submit" id="enter" class="btn btn-success" value="Enter">
            </form>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <% products.forEach(function(product){ %>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="/images/<%= product.image %>" alt="<%= product.image %>">
                    <div class="card-body">
                      <h3 class="card-title">
                        <%= product.name %>
                      </h3>
                      <h4 class="card-text text-dark">
                        <%= product.price %> $
                      </h4>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="view-product/<%= product.id %>" type="button" class="btn btn-outline-success me-2">View</a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      </main>


<%- include('partials/footer.ejs') %>

