<!--
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 3
Author: Group 21
-->

<%- include('partials/logged-in-header.ejs') %>

<main>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/<%= product.image %>" class="d-block mx-lg-auto img-fluid" alt="product image" width="700"
          loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= product.name %></h1>
        <h3 class="text-dark"><%= product.price %> $</h3>
        <p><%= product.description %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/order" type="button" class="btn btn-success btn-lg px-4 me-md-2">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>